*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#calculator{
    border: 1px solid rgb(194, 191, 191);
    margin: 10px;
    width: 200px;
    border-radius: 5px;
}
#display{
    padding: 5px;
    margin: 5px;
}
.input-btn{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.btn{
    border: 1px solid rgb(160, 160, 160);
    border-radius: 2px;
    height: 50px;
    width: 50px;
    margin: 2px;
}
p{
    margin: 10px;
    font-size: 25px;
}
ul{
    font-size: 20px;
}