* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
#main-heading {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #333;
    margin-top: 20px;
    font-weight: bolder;
}
#main-div {
    width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ebebeb;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(6, 6, 6, 0.1);
    align-items: center;
}
.grid-container {
    display: grid;
    grid-template-columns: 250px 160px 100px;
    gap: 20px;
    margin-bottom: 20px;
}
#todo-input, #todo-date {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
}
#addTodo-button  {
    padding: 10px 10px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.delete-button {
    padding: 10px 10px;
    background-color: rgb(155, 0, 0);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

